Repository wx-ys/pynbody-extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, mypy, cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity, cargo-fmt-pynbodyext-rust, cargo-clippy-pynbodyext-rust, cargo-test-pynbodyext-rust

ruff-check:
  name: ruff check (run "ruff check")
  entry: ruff
  language: system
  args:
  - check
  pass_filenames: true

mypy:
  name: mypy (run "mypy")
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true

cargo-fmt-gravity:
  name: cargo fmt (gravity)
  entry: bash -c "cd crates/gravity && cargo fmt"
  language: system
  pass_filenames: false

cargo-clippy-gravity:
  name: cargo clippy (gravity)
  entry: bash -c "cd crates/gravity && cargo clippy -p gravity -- -D warnings"
  language: system
  pass_filenames: false

cargo-test-gravity:
  name: cargo test (gravity)
  entry: bash -c "cd crates/gravity && cargo test"
  language: system
  pass_filenames: false

cargo-fmt-pynbodyext-rust:
  name: cargo fmt (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo fmt"
  language: system
  pass_filenames: false

cargo-clippy-pynbodyext-rust:
  name: cargo clippy (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo clippy -p pynbodyext-rust -- -D warnings"
  language: system
  pass_filenames: false

cargo-test-pynbodyext-rust:
  name: cargo test (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo test"
  language: system
  pass_filenames: false

fix: dataclass type hint
  pynbodyext/core/calculate/nodes/base.py
Due: ruff-check, mypy

fix: dynamic param add static method for type hint
  pynbodyext/core/calculate/params/fields.py
Due: ruff-check, mypy

ref: BinND use calculatordataclass
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/nodes.py
Due: ruff-check, mypy

refactor: BinND system
  pynbodyext/core/calculate/bins/__init__.py
  pynbodyext/core/calculate/bins/accessors.py
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/bins/plot.py
  pynbodyext/core/calculate/bins/result.py
  pynbodyext/core/calculate/bins/statistics.py
Due: ruff-check, mypy

refactor: BinNDresult cache subbinresult, apply a better key
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

doc: polish api and ipython type hint
  pynbodyext/core/calculate/bins/accessors.py
  pynbodyext/core/calculate/bins/result.py
  pynbodyext/core/calculate/bins/statistics.py
Due: ruff-check, mypy

refactor: BinNDResult axis api
  pynbodyext/core/calculate/bins/__init__.py
  pynbodyext/core/calculate/bins/accessors.py
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/bins/plot.py
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

fix: add measure, fix BinsArray init lost units and sim
  pynbodyext/core/calculate/bins/arrays.py
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

refactor: register func into class method
  pynbodyext/core/calculate/bins/__init__.py
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/bins/plot.py
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

fix: add binnd type
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/result/enums.py
Due: ruff-check, mypy

fix: api
  pynbodyext/calculate.py
  pynbodyext/core/calculate/__init__.py
  pynbodyext/core/calculate/bins/axes.py
Due: ruff-check, mypy

refactor: ResultBin split func
  pynbodyext/core/calculate/bins/extensions.py
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/bins/query_engine.py
  pynbodyext/core/calculate/bins/result.py
  pynbodyext/core/calculate/bins/subresults.py
Due: ruff-check, mypy

refactor: bins executor
  pynbodyext/core/calculate/bins/executor.py
  pynbodyext/core/calculate/bins/nodes.py
  pynbodyext/core/calculate/bins/subresults.py
Due: ruff-check, mypy

refactor: add BinNodeBase
  pynbodyext/core/calculate/bins/nodes.py
Due: ruff-check, mypy

refactor: add axismaterializer
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/axis_materializer.py
  pynbodyext/core/calculate/bins/executor.py
  pynbodyext/core/calculate/bins/nodes.py
Due: ruff-check, mypy

feat: use binaxis measure for density calculate, and support set and regist how to calcualte measure
  pynbodyext/core/calculate/bins/axes.py
  pynbodyext/core/calculate/bins/query_engine.py
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

feat: add calculator pack, for future storing
  pynbodyext/core/calculate/result/__init__.py
  pynbodyext/core/calculate/result/signature.py
Due: ruff-check, mypy

fix: typehint
  pynbodyext/core/calculate/bins/result.py
Due: ruff-check, mypy

fix: enable ndim profile
  pynbodyext/core/calculate/bins/query_engine.py
Due: ruff-check, mypy

docs: add Rust-to-C++ migration design spec
  docs/superpowers/specs/2026-08-12-rust-to-cpp-migration-design.md
Due: none

docs: note pre-commit cargo hooks removal in migration spec
  docs/superpowers/specs/2026-08-12-rust-to-cpp-migration-design.md
Due: none

chore: commit Rust gravity baseline as migration reference
  Cargo.lock
  Cargo.toml
  crates/gravity/benches/gravity_bench.rs
  crates/gravity/src/boundary.rs
  crates/gravity/src/direct.rs
  crates/gravity/src/lib.rs
  crates/gravity/src/multipole.rs
  crates/gravity/src/multipole/derivatives.rs
  crates/gravity/src/multipole/eval.rs
  crates/gravity/src/multipole/local.rs
  crates/gravity/src/multipole/mod.rs
  crates/gravity/src/multipole/moment.rs
  crates/gravity/src/octree.rs
  crates/gravity/src/solver/bh.rs
  crates/gravity/src/solver/mod.rs
  crates/gravity/src/traversal.rs
  crates/gravity/src/tree.rs
  crates/gravity/src/types.rs
  crates/gravity/tests/gravity_tests.rs
  crates/pynbodyext-rust/src/gravity.rs
  crates/sph/Cargo.toml
  crates/sph/src/lib.rs
  crates/src/main.rs
  docs/superpowers/plans/2026-08-12-rust-to-cpp-migration.md
Due: cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity, cargo-fmt-pynbodyext-rust, cargo-clippy-pynbodyext-rust, cargo-test-pynbodyext-rust

feat: add Vec3, common numerics helpers, and C++ test scaffold
  Makefile
  cpp/gravity/common.hpp
  cpp/gravity/tests/test_core.cpp
  cpp/gravity/vec3.hpp
Due: none

fix: define timing_enabled/log_timing inline in common.hpp
  cpp/gravity/common.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port kernel (KernelKind, softened kernels)
  cpp/gravity/kernel.cpp
  cpp/gravity/kernel.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port multipole moments (P2M, M2M translate, compact storage)
  cpp/gravity/multipole/moment.cpp
  cpp/gravity/multipole/moment.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port multipole potential derivatives (orders 1-5)
  cpp/gravity/multipole/derivatives.cpp
  cpp/gravity/multipole/derivatives.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port multipole evaluators (template<Order> + runtime dispatch)
  cpp/gravity/multipole/eval.cpp
  cpp/gravity/multipole/eval.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port direct O(N^2) summation with OpenMP
  cpp/gravity/direct.cpp
  cpp/gravity/direct.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port octree construction and node payloads
  cpp/gravity/octree.cpp
  cpp/gravity/octree.hpp
  cpp/gravity/tests/test_core.cpp
Due: none

feat: port Barnes-Hut tree traversal with OpenMP
  cpp/gravity/octree.hpp
  cpp/gravity/tests/test_core.cpp
  cpp/gravity/traversal.cpp
  cpp/gravity/traversal.hpp
Due: none

test: add M2M translate and single-node far-field invariants
  cpp/gravity/tests/test_core.cpp
Due: none

build: replace setuptools-rust with pybind11 extension (pynbodyext._native)
  cpp/bindings/module.cpp
  pyproject.toml
  setup.py
  uv.lock
Due: none

refactor: rename gravity extension module _rust -> _native
  pynbodyext/gravity/__init__.py
  pynbodyext/gravity/base.py
  pynbodyext/util/deps.py
Due: ruff-check, mypy

feat: pybind11 binding for Octree and direct-sum gravity
  cpp/bindings/module.cpp
Due: none

test: add Python end-to-end gravity tests for C++ backend
  tests/test_gravity.py
Due: none

fix: prevent use-after-free in octree build_recursive
  cpp/gravity/octree.cpp
Due: none

test: fix convergence assertion direction to descending
  tests/test_gravity.py
Due: none

chore: remove Rust implementation and toolchain artifacts
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/Cargo.lock
  crates/Cargo.toml
  crates/gravity/Cargo.toml
  crates/gravity/benches/gravity_bench.rs
  crates/gravity/src/boundary.rs
  crates/gravity/src/direct.rs
  crates/gravity/src/kernel.rs
  crates/gravity/src/lib.rs
  crates/gravity/src/multipole/derivatives.rs
  crates/gravity/src/multipole/eval.rs
  crates/gravity/src/multipole/local.rs
  crates/gravity/src/multipole/mod.rs
  crates/gravity/src/multipole/moment.rs
  crates/gravity/src/octree.rs
  crates/gravity/src/solver/bh.rs
  crates/gravity/src/solver/mod.rs
  crates/gravity/src/traversal.rs
  crates/gravity/src/types.rs
  crates/gravity/tests/gravity_tests.rs
  crates/gravity/tests/single_node.rs
  crates/gravity/tests/translate_multipole.rs
  crates/pynbodyext-rust/Cargo.toml
  crates/pynbodyext-rust/src/gravity.rs
  crates/pynbodyext-rust/src/lib.rs
  crates/sph/Cargo.toml
  crates/sph/src/lib.rs
  crates/src/main.rs
  pynbodyext/gravity/base.py
  pynbodyext/gravity/pyn_gravity.py
Due: ruff-check, mypy, cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity, cargo-fmt-pynbodyext-rust, cargo-clippy-pynbodyext-rust, cargo-test-pynbodyext-rust

Path conditions:
  ruff-check: any of: ^pynbodyext/ and \.py$
  mypy: any of: ^pynbodyext/ and \.py$
  cargo-fmt-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-clippy-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-test-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-fmt-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
  cargo-clippy-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
  cargo-test-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
