Repository wx-ys/pynbody-extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, mypy, cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity, cargo-fmt-pynbodyext-rust, cargo-clippy-pynbodyext-rust, cargo-test-pynbodyext-rust

ruff-check:
  name: ruff check (run "ruff check")
  entry: ruff
  language: system
  args:
  - check
  pass_filenames: true

mypy:
  name: mypy (run "mypy")
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true

cargo-fmt-gravity:
  name: cargo fmt (gravity)
  entry: bash -c "cd crates/gravity && cargo fmt"
  language: system
  pass_filenames: false

cargo-clippy-gravity:
  name: cargo clippy (gravity)
  entry: bash -c "cd crates/gravity && cargo clippy -p gravity -- -D warnings"
  language: system
  pass_filenames: false

cargo-test-gravity:
  name: cargo test (gravity)
  entry: bash -c "cd crates/gravity && cargo test"
  language: system
  pass_filenames: false

cargo-fmt-pynbodyext-rust:
  name: cargo fmt (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo fmt"
  language: system
  pass_filenames: false

cargo-clippy-pynbodyext-rust:
  name: cargo clippy (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo clippy -p pynbodyext-rust -- -D warnings"
  language: system
  pass_filenames: false

cargo-test-pynbodyext-rust:
  name: cargo test (pynbodyext-rust)
  entry: bash -c "cd crates/pynbodyext-rust && cargo test"
  language: system
  pass_filenames: false

simplify error traceback
  pynbodyext/calculate.py
Due: ruff-check, mypy

fix type hint
  pynbodyext/profiles/proarray.py
Due: ruff-check, mypy

add particles at bins
  pynbodyext/profiles/profile.py
Due: ruff-check, mypy

add pr particles test
  tests/profile_test.py
Due: none

add profile shorthand
  pynbodyext/profiles/profile.py
  tests/profile_test.py
Due: ruff-check, mypy

fix robust shorthand getitem
  pynbodyext/profiles/profile.py
Due: ruff-check, mypy

add profile array stat accessor
  pynbodyext/profiles/proarray.py
Due: ruff-check, mypy

in sim units add target units parameter
  pynbodyext/calculate.py
Due: ruff-check, mypy

add Radius at surfacedensity property calcualtor
  pynbodyext/properties/__init__.py
  pynbodyext/properties/base.py
Due: ruff-check, mypy

add soft kernel
  crates/gravity/src/kernel.rs
  crates/gravity/src/lib.rs
Due: cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity

direct and tree soft gravity
  crates/gravity/src/direct.rs
  crates/gravity/src/multipole.rs
  crates/gravity/src/tree.rs
  crates/gravity/tests/gravity_tests.rs
Due: cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity

update pyo3 gravity
  crates/Cargo.lock
  crates/Cargo.toml
  crates/gravity/Cargo.toml
  crates/pynbodyext-rust/Cargo.toml
  crates/pynbodyext-rust/src/gravity.rs
  crates/pynbodyext-rust/src/lib.rs
Due: cargo-fmt-pynbodyext-rust, cargo-clippy-pynbodyext-rust, cargo-test-pynbodyext-rust

fix RadiusAt* import
  pynbodyext/properties/__init__.py
Due: ruff-check, mypy

update python api
  pynbodyext/gravity/__init__.py
  pynbodyext/gravity/base.py
  pynbodyext/gravity/pyn_gravity.py
Due: ruff-check, mypy

add develop asv benchmark support
  .gitignore
  Makefile
  asv.conf.json
  pyproject.toml
  setup.py
Due: none

add benchmarks
  Makefile
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/bench_gravity.py
  crates/Cargo.toml
  pyproject.toml
Due: none

rm gravity rust bench
  crates/gravity/Cargo.toml
Due: none

fix pyninstall
  pyproject.toml
Due: none

fix asv python install
  asv.conf.json
  pyproject.toml
Due: none

fix rust gravity install
  crates/pynbodyext-rust/Cargo.toml
  setup.py
Due: none

optimize gravity perf
  crates/Cargo.lock
  crates/gravity/src/kernel.rs
  crates/gravity/src/tree.rs
Due: cargo-fmt-gravity, cargo-clippy-gravity, cargo-test-gravity

update make
  Makefile
Due: none

add beta profile calculation
  pynbodyext/profiles/spatial_profile.py
Due: ruff-check, mypy

fix: no unitslatex if units is 1
  pynbodyext/profiles/proarray.py
Due: ruff-check, mypy

rename: use vphi, as it is defined in pynbody
  pynbodyext/profiles/spatial_profile.py
Due: ruff-check, mypy

add warning if beta not in spherical radial, add useful property for binset
  pynbodyext/profiles/bins.py
  pynbodyext/profiles/spatial_profile.py
Due: ruff-check, mypy

add note for beta calculation
  pynbodyext/profiles/spatial_profile.py
Due: ruff-check, mypy

fix: frac can be ndarray
  pynbodyext/properties/base.py
Due: ruff-check, mypy

fix: OpProperty type hint
  pynbodyext/properties/base.py
  pyproject.toml
Due: ruff-check, mypy

refactor: new calculator system
  pynbodyext/core/calculate/__init__.py
  pynbodyext/core/calculate/base.py
  pynbodyext/core/calculate/cache.py
  pynbodyext/core/calculate/context.py
  pynbodyext/core/calculate/display.py
  pynbodyext/core/calculate/engine.py
  pynbodyext/core/calculate/enums.py
  pynbodyext/core/calculate/exceptions.py
  pynbodyext/core/calculate/expr.py
  pynbodyext/core/calculate/filters.py
  pynbodyext/core/calculate/params.py
  pynbodyext/core/calculate/perf.py
  pynbodyext/core/calculate/pipeline.py
  pynbodyext/core/calculate/properties.py
  pynbodyext/core/calculate/result.py
  pynbodyext/core/calculate/scopes.py
  pynbodyext/core/calculate/trace.py
  pynbodyext/core/calculate/transforms.py
  pyproject.toml
Due: ruff-check, mypy

update new calculator system from core calculate
  pynbodyext/calculate.py
  pynbodyext/profiles/base.py
Due: ruff-check, mypy

refactor: a concise logger style
  pynbodyext/log.py
Due: ruff-check, mypy

refactor: move into new calculator system
  pynbodyext/filters/__init__.py
  pynbodyext/filters/base.py
  pynbodyext/filters/filt.py
  pynbodyext/properties/__init__.py
  pynbodyext/properties/base.py
  pynbodyext/properties/generic.py
  pynbodyext/transforms/__init__.py
  pynbodyext/transforms/base.py
  pynbodyext/transforms/rotate.py
  pynbodyext/transforms/shift.py
  pynbodyext/transforms/wrap.py
Due: ruff-check, mypy

readme: update readme usage
  README.md
Due: none

refactor: uniform the extend api, add dataclass-like api
  pynbodyext/core/calculate/__init__.py
  pynbodyext/core/calculate/base.py
  pynbodyext/core/calculate/declarative.py
  pynbodyext/core/calculate/expr.py
  pynbodyext/core/calculate/fields.py
  pynbodyext/core/calculate/filters.py
  pynbodyext/core/calculate/properties.py
  pynbodyext/core/calculate/runtime.py
  pynbodyext/core/calculate/template.py
  pynbodyext/core/calculate/transforms.py
Due: ruff-check, mypy

refactor: uniform params api and usage
  pynbodyext/core/calculate/base.py
  pynbodyext/core/calculate/fields.py
  pynbodyext/core/calculate/filters.py
  pynbodyext/core/calculate/properties.py
  pynbodyext/core/calculate/template.py
  pynbodyext/core/calculate/transforms.py
Due: ruff-check, mypy

fix: Param for dynamic or static and type hint
  pynbodyext/core/calculate/__init__.py
  pynbodyext/core/calculate/base.py
  pynbodyext/core/calculate/declarative.py
  pynbodyext/core/calculate/fields.py
Due: ruff-check, mypy

fix: type hint for filter and transform, lost base type
  pynbodyext/core/calculate/base.py
Due: ruff-check, mypy

fix: update calculate export
  pynbodyext/calculate.py
Due: ruff-check, mypy

Path conditions:
  ruff-check: any of: ^pynbodyext/ and \.py$
  mypy: any of: ^pynbodyext/ and \.py$
  cargo-fmt-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-clippy-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-test-gravity: any of: ^crates/gravity/ and \.rs$
  cargo-fmt-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
  cargo-clippy-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
  cargo-test-pynbodyext-rust: any of: ^crates/pynbodyext-rust/ and \.rs$
